# Core functionality - changes here should be rare!
/src/app.py                   @0xBJA
/src/backend/database.py      @0xBJA
/src/backend/routers/auth.py  @0xBJA

# The frontend will need refactored soon to be more object oriented.
/src/static/   @0xBJA
